<%= form_for([@post, @post.comments.build], remote: true, html: {class: "form-horizontal"}) do |f| %>
    <p> <%= f.text_area :text, :size => '40*20' %></p>
    <p></p><%= f.submit "Post comment", :class => "btn btn-primary" %></p>
<% end %>