<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav nav-pills pull-right">
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </div>
  </nav>
</header>